body {
    background-image: url("../images/bkg.jpg");
 
   }

   .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .h1{
       font: Tahoma,sans-serif;
       font-size: 36px;
   }

   .h3{
       font: Tahoma,verdana,sans-serif;
       font-size: 25px;
       font-family: Arial, Helvetica, sans-serif;
   }

   .hr {
    border: 1px solid black;
  }

  .a {
    text-align: center;
  }

  .b {
    text-align: left;
  }
  
  .td::first-line{
      color: red;
  }


  .menu{
      list-style-type: none;
      margin: 0;
      padding: 0;
      background-color: #333;
  }